.cover__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  box-sizing: border-box;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  z-index: -1;
}

.cover__link::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s linear;
  z-index: -1;
}

.cover__link:hover::after{
  opacity: .8;
}

@media screen and (max-width: 1184px) {
  .cover__link {
    min-height: calc(100vw * 0.625);
  }
}
