.cover__link{
  padding-bottom: 62.5%;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
}

.cover__link::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.cover__link:hover::after{
  opacity: 0.8;
}
