.cover__link{
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__link::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.cover__link:hover::after{
  opacity: 0.8;
}
