.place__title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.05;
}

@media screen and (max-width: 769px) {
  .place__title{
    font-size: 42px;
  }
}

@media screen and (max-width: 460px) {
  .place__title{
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
  }
}
