.page{
  min-width: 320px;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 0 24px;
  background-color: #2A2C2F;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 460px) {
  .page {
    padding-top: 16px;
  }
}
