.gallery{
  max-width: 1184px;
  max-height: 671px;
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
