.places {
  max-width: 984px;
  margin: 0 auto;
  margin-bottom: 92px;
  transition: all 0.5s linear;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625%;
  }
}
@media screen and (max-width: 769px) {
  .places {
    max-width: 93.75%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .places {
    max-width: 100%;
    margin-bottom: 64px;
  }
}
