.lang__link{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-right: 18px;
  text-decoration: none;
}

.lang__link:last-child{
  margin-right: 0px;
}

.lang__link:focus{
  text-decoration: underline;
}
