.lead{
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 92px;
  transition: max-width 0.3s linear, margin-bottom 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 769px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .lead {
    margin-bottom: 64px;
  }
}
