.lead{
  max-width: 76.875%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 92px;
  transition: max-width 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
