.lead{
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
  }
}
