.cover__subtitle{
  max-width: 360px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  transition: all 0.5s linear;
}

@media screen and (max-width: 600px){
  .cover__subtitle{
    font-size: 14px;
  }
}
