.page__content{
  margin-top: 56px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .page__content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 769px) {
  .page__content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .pager__content {
    margin-bottom: 64px;
  }
}
