.header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: margin-bottom 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 769px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 460px) {
  .header {
    width: 90%;
  }
}

