.header{
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  transition: margin-bottom 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
    width: 90.625%;
  }
}

@media screen and (max-width: 769px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 460px) {
  .header {
    width: 90%;
  }
}

