.header__link{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-right: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:last-child{
  margin-right: 0px;
}

@media screen and (max-width: 420px){
  .header__link {
    font-size: 18px;
  }
}
