.footer__link{
  margin: 0;
  margin-right: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-decoration: none;
}

.footer__links:last-child{
  margin-right: 0;
}
