.footer__link{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none;
}

.footer__links:nth-child(4){
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .footer__link{
    font-size: 1.5rem;
    line-height: 1;
  }
}

