.footer__link{
  margin: 0;
  margin-right: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none;
}

.footer__links:last-child{
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .footer__link{
    font-size: 1.5rem;
    margin-bottom: 32px;
    margin-right: 0;
  }
}

