.lead__title{
  max-width: 720px;
  margin: 0;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.041;
  margin-bottom: 32px;
  text-align: center;
  transition: all 0.5s linear;
}

@media screen and (max-width: 720px) {
  .lead__title{
    max-width: 450px;
    font-size: 4rem;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 460px) {
  .lead__title{
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
