.footer__links{
  display: flex;
}

@media screen and (max-width: 500px) {
  .footer__links{
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .footer__links {
    margin-bottom: 48px;
  }
}
