.place__paragraph{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.63;
  margin-bottom: 26px;
}

.place__paragraph:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  .place__paragraph{
    font-size: 1rem;
    margin-bottom: 16px;
  }
}
