.cover{
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 769px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .cover {
    margin-bottom: 64px;
  }
}
