.footer__item{
  margin-right: 18px;
}

.footer__links:last-child{
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .footer__item{
    margin-bottom: 32px;
    margin-right: 0;
  }
  .footer__links:last-child{
    margin-bottom: 0;
  }
}
