.lead__caption{
  margin: 0;
  margin-top:8px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    max-width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .lead__caption {
    max-width: 93.75%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .lead__caption {
    max-width: 90%;
  }
}
