.lead__caption{
  max-width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 769px) {
  .lead__caption {
    max-width: 93.75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  .lead__caption {
    max-width: 90%;
  }
}
