.cover__title{
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  transition: all 0.5s linear;
}

@media screen and (max-width: 600px){
  .cover__title{
    margin-bottom: 16px;
    font-size: 2rem;
  }
}
