.cover__title{
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.05;
  text-align: center;
  transition: margin-bottom 0.3s linear;
  z-index: 1;
}

@media screen and (max-width: 600px){
  .cover__title{
    margin-bottom: 16px;
    font-size: 2rem;
  }
}
