.cover__title{
  max-width: 560px;
  margin:0 0 16px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  transition: all 0.5s linear;
}

@media screen and (max-width: 600px){
  .cover__title{
    max-width: 288px;
    margin-bottom: 8px;
    font-size: 2rem;
  }
}
