.place{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
  transition: margin-bottom 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}
@media screen and (max-width: 769px) {
  .place {
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}


