.place{
  display: grid;
  grid-template-columns: calc(50.814% - 40px) 49.187%;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
  transition: margin-bottom 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(50.863% - 32px) 49.137%;
    column-gap: 32px;
  }
}
@media screen and (max-width: 769px) {
  .place {
    grid-template-columns: calc(51.112% - 28px) 48.889%;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 460px) {
  .place {
    max-width: 100%;
  }
}


