.footer{
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 730px) {
  .footer{
    flex-direction: column;
  }
}
