.footer{
  max-width: 1184px;
  width: 92.5%;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.625%;
  }
}
@media screen and (max-width: 769px) {
  .footer {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .footer {
    max-width: 90%;
  }
}

