.place__website{
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}

@media screen and (max-width: 460px) {
  .place__website {
    width: 90%;
    margin: 0 auto;
  }
}
