.intro__title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
  margin-bottom: 40px;
}

@media screen and (max-width: 460px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.07;
  }
}
